{{template "header" "模特列表"}}
<body>
	<div class="container">
	
		    {{template "navbar" "list"}}
	        <ul>
			{{range $model := .models}}
			<li>{{$model.Number}}&nbsp;模特姓名:&nbsp;{{$model.Name}}&nbsp;&nbsp;职业:{{$model.Job}}&nbsp;&nbsp;点击量:{{$model.Click}}<br/>
			    &nbsp;&nbsp;&nbsp;个人主页:<b><a href="{{$model.Page}}">{{$model.Page}}</a></b>
				{{if .Address}}<br/>
				<a role="button" data-toggle="collapse" href="#collapseExample__{{$model.Number}}" aria-expanded="false">
				  &nbsp;&nbsp;&nbsp;<b>模特个人照片+</b>
				</a>
				<div class="collapse" id="collapseExample__{{$model.Number}}">
				  <div class="well">
				    <ul>
					{{range $s := .Address}}
						<li><img src="模特/{{$model.Name}}/{{parseImage $s}}" title="{{$model.Name}}_{{$s}}"/>&nbsp;</li>
					{{end}}
					</ul>
				  </div>
				</div>
				
				{{end}}
			</li> 
			{{end}}
		</ul>
		<!-- 分页实现 -->
		共有<b>{{.page.TotalRecord}}</b>条记录，共<b>{{.page.TotalPage}}</b>页，当前为第<b>{{.page.PageNo}}</b>页面
		<nav>
		  <ul class="pagination">
		    {{if eq .page.PageNo 1}}
			    <li class="disabled">
			      <a href="javascript:void(0)" aria-label="Previous">
			        <span aria-hidden="true">&laquo;&laquo;</span>
			      </a>
			    </li>
			    <li class="disabled">
			      <a href="javascript:void(0)" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
		    {{else}}
		     <li>
		      <a href="list" aria-label="Previous" title="第一页">
		        <span aria-hidden="true">&laquo;&laquo;</span>
		      </a>
		     </li>
		     <li>
			      <a href="list?pageNo={{.page.Previous}}&pageSize={{.page.PageSize}}" aria-label="Previous" title="上一页">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
		    {{end}}
		    <li class="active"><a href="javascript:void(0)">{{.page.PageNo}}</a></li>
		    {{if eq .page.PageNo .page.TotalPage}}
			    <li class="disabled">
			      <a href="javascript:void(0)" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			    <li class="disabled">
			      <a href="javascript:void(0)" aria-label="Next">
			        <span aria-hidden="true">&raquo;&raquo;</span>
			      </a>
			    </li>
		    {{else}}
			    <li>
			      <a href="list?pageNo={{.page.Next}}&pageSize={{.page.PageSize}}" aria-label="Next" title="下一页">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			    <li>
			      <a href="list?pageNo={{.page.TotalPage}}&pageSize={{.page.PageSize}}" aria-label="Next" title="最后一页">
			        <span aria-hidden="true">&raquo;&raquo;</span>
			      </a>
			    </li>
		    {{end}}
		  </ul>
		</nav>

	</div>
</body>
</html>