{{template "header" "爬取模特信息"}}
 <script type="text/javascript">
         var sock = null;
         var wsuri = "ws://127.0.0.1:8004";
         var index  = 0;
         var modelInfo = null;
 
         function startSpider() {
 
            console.log("start spider");
 
            sock = new WebSocket(wsuri);
 
            sock.onopen = function() {
            	index = 0;
                console.log("connected to " + wsuri);
            }
 
            sock.onclose = function(e) {
               console.log("connection closed (" + e.code + ")");
               $("#msg").empty();
               $("#cnt").html(index);
            }
 
            sock.onmessage = function(e) {
               var message = e.data;
               if(message.substring(0,2)=="模特"&&message!=modelInfo){
            	   modelInfo=message;
            	   $("#msg").html(message);
               }else{
                   index++;
            	   $("#msg").append("<br/>"+message); 
                   $("#cnt").html(index);
               }
            }
         };
 
         function closeSpider() {
            sock.send("closeSpider");
         };
      </script>
</head>
<body>
	<div class="container">
		
		{{template "navbar" "spider"}}
		
		<h1>Golang HTML5网络爬虫测试</h1>
		<button class="btn btn-primary" type="button" onclick="startSpider()">开始抓取美女信息!</button>
		&nbsp;
		<button class="btn btn-danger" type="button" onclick="closeSpider()">停止抓取美女信息!</button>
		<br />
		<div style="color: #0099cc; font-weight: bold;">共获取了<span id="cnt">0</span>张图片</div>
		<span id="msg"></span>
	</div>
</body>
</html>